#PACKAGES

In [58]:
import pandas as pd
import numpy as np
import copy
import math
from sklearn.model_selection import train_test_split

%matplotlib inline

In [59]:
!pip install utils
from utils import *

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: utils in /usr/local/lib/python3.10/dist-packages (1.0.1)

In [60]:
dataset = pd.read_csv("/content/profil_ibu.csv")
dataset

,Usia (tahun),Tinggi Badan (m),Berat Badan (kg),Klasifikasi,IMT (kg/m2),Lama Kehamilan (hari),Berat Lahir Bayi (kg),Status
0,27.0,1.5748,45.359200,Normal,18.290037,284.0,3.401940,0
1,33.0,1.6256,61.234920,Gemuk,23.172440,282.0,3.203493,0
2,28.0,1.6256,52.163080,Normal,19.739486,279.0,3.628736,0
3,23.0,1.7018,56.699000,Normal,19.577551,282.0,3.061746,0
4,25.0,1.5748,42.184056,Normal,17.009734,286.0,3.855532,0
...,...,...,...,...,...,...,...,...
1179,27.0,1.5240,45.359200,Normal,19.529695,275.0,3.203493,0
1180,24.0,1.7018,54.431040,Normal,18.794449,265.0,3.628736,0
1181,30.0,1.6510,68.038800,Gemuk,24.961030,291.0,3.685435,0
1182,21.0,1.6510,49.895120,Normal,18.304755,281.0,3.543687,0
1183,38.0,1.6510,58.513368,Normal,21.466486,297.0,3.316892,0

In [61]:
dataset.shape

(1184, 8)

In [62]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1184 entries, 0 to 1183
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Usia (tahun)           1184 non-null   float64
 1   Tinggi Badan (m)       1184 non-null   float64
 2   Berat Badan (kg)       1184 non-null   float64
 3   Klasifikasi            1184 non-null   object
 4   IMT (kg/m2)            1184 non-null   float64
 5   Lama Kehamilan (hari)  1184 non-null   float64
 6   Berat Lahir Bayi (kg)  1184 non-null   float64
 7   Status                 1184 non-null   int64
dtypes: float64(6), int64(1), object(1)
memory usage: 74.1+ KB

In [63]:
dataset.describe()

,Usia (tahun),Tinggi Badan (m),Berat Badan (kg),IMT (kg/m2),Lama Kehamilan (hari),Berat Lahir Bayi (kg),Status
count,1184.000000,1184.000000,1184.000000,1184.000000,1184.000000,1184.000000,1184.000000
mean,27.252534,1.626909,58.317986,22.013814,279.129223,3.388436,0.002534
std,5.809420,0.064175,9.432494,3.230163,15.976875,0.520551,0.050294
min,15.000000,1.346200,39.462504,15.662041,148.000000,1.559222,0.000000
25%,23.000000,1.574800,52.049682,19.935794,272.000000,3.061746,0.000000
50%,26.000000,1.625600,56.699000,21.284316,280.000000,3.401940,0.000000
75%,31.000000,1.676400,63.162686,23.382492,288.000000,3.713785,0.000000
max,45.000000,1.828800,113.398000,40.350609,353.000000,4.989512,1.000000

In [64]:
dataset.corr()

<ipython-input-64-c187c74d1e71>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset.corr()

,Usia (tahun),Tinggi Badan (m),Berat Badan (kg),IMT (kg/m2),Lama Kehamilan (hari),Berat Lahir Bayi (kg),Status
Usia (tahun),1.000000,-0.005091,0.147596,0.164977,-0.050761,0.031162,-0.016657
Tinggi Badan (m),-0.005091,1.000000,0.436313,-0.059922,0.068583,0.201066,-0.120767
Berat Badan (kg),0.147596,0.436313,1.000000,0.869058,0.022265,0.155568,-0.090286
IMT (kg/m2),0.164977,-0.059922,0.869058,1.000000,-0.012380,0.065033,-0.044926
Lama Kehamilan (hari),-0.050761,0.068583,0.022265,-0.012380,1.000000,0.410339,-0.023551
Berat Lahir Bayi (kg),0.031162,0.201066,0.155568,0.065033,0.410339,1.000000,-0.030729
Status,-0.016657,-0.120767,-0.090286,-0.044926,-0.023551,-0.030729,1.000000

In [65]:
dataset = dataset.drop(['Usia (tahun)','Klasifikasi','IMT (kg/m2)','Lama Kehamilan (hari)','Berat Lahir Bayi (kg)'], axis=1)

In [66]:
#Output as labels
Y = dataset['Status'].values.reshape(dataset.shape[0],)
dataset = dataset.drop('Status',1)
data = dataset.values
#Input as features
X = data[:,0:data.shape[1]]

#Splitting the Data into Training (90%) and Testing (10%)
X_train, X_test, y_train, Y_test = train_test_split(X, Y, test_size=0.1)

<ipython-input-66-c4b5f0ff3fb0>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  dataset = dataset.drop('Status',1)

In [67]:
print("First five elements in X_train are:\n", X_train[:5])
print("Type of X_train:",type(X_train))

First five elements in X_train are:
 [[ 1.6764   57.152592]
 [ 1.6764   79.3786  ]
 [ 1.5494   68.0388  ]
 [ 1.7018   67.131616]
 [ 1.4224   42.184056]]
Type of X_train: <class 'numpy.ndarray'>

In [68]:
print("First five elements in y_train are:\n", y_train[:5])
print("Type of y_train:",type(y_train))

First five elements in y_train are:
 [0 0 0 0 1]
Type of y_train: <class 'numpy.ndarray'>

In [69]:
#Check the dimensions of variables
print(f'The shape of X_train is: {str(X_train.shape)}')
print(f'The shape of y_train is: {str(y_train.shape)}')
print(f'We have m = {len(y_train)} training examples')

The shape of X_train is: (1065, 2)
The shape of y_train is: (1065,)
We have m = 1065 training examples

#LOGISTIC REGRESSION

In [70]:
# Membentuk fungsi aktivasi sigmoid untuk membuat model
def sigmoid(z):
  g = 1/(1+np.exp(-z))
  return g

In [71]:
# Mendefinisikan fungsi cost untuk evaluasi
def compute_cost(X, y, w, b, *argv):

    m, n = X.shape
    
    cost = 0.0
    for i in range(m):
        z_i = np.dot(X[i],w) + b
        f_wb_i = sigmoid(z_i)
        cost +=  -y[i]*np.log(f_wb_i) - (1-y[i])*np.log(1-f_wb_i)
             
    total_cost = cost / m

    return total_cost

In [72]:
m, n = X_train.shape

initial_w = np.zeros(n).astype('float64')
initial_b = 0.0
cost = compute_cost(X_train, y_train, initial_w, initial_b)
print('Cost at initial w and b (zeros): {}'.format(cost))

Cost at initial w and b (zeros): 0.6931471805599296

In [73]:
test_w = np.array([0.2, 0.2])
test_b = -24.
cost = compute_cost(X_train, y_train, test_w, test_b)

print('Cost at test w and b (non-zeros): {:.3f}'.format(cost))

Cost at test w and b (non-zeros): 0.044

In [74]:
def compute_gradient(X, y, w, b, *argv): 
    m, n = X.shape
    dj_dw = np.zeros(w.shape)
    dj_db = 0.

    for i in range(m):
        z_wb = 0
        for j in range(n): 
            z_wb += X[i, j] * w[j]
        z_wb += b
        f_wb = sigmoid(z_wb)
        
        dj_db_i = f_wb - y[i]
        dj_db += dj_db_i
        
        for j in range(n):
            dj_dw[j] += (f_wb - y[i]) * X[i][j]
            
    dj_dw = dj_dw/m
    dj_db = dj_db/m
        
    return dj_db, dj_dw

In [75]:
def gradient_descent(X, y, w_in, b_in, cost_function, gradient_function, alpha, num_iters, lambda_): 
    
    m = len(X)
    J_history = []
    w_history = []
    
    for i in range(num_iters):

        dj_db, dj_dw = gradient_function(X, y, w_in, b_in, lambda_)   

        w_in = w_in - alpha * dj_dw               
        b_in = b_in - alpha * dj_db              
       
        if i<100000:      
            cost =  cost_function(X, y, w_in, b_in, lambda_)
            J_history.append(cost)
        if i% math.ceil(num_iters/10) == 0 or i == (num_iters-1):
            w_history.append(w_in)
            print(f"Iteration {i:4}: Cost {float(J_history[-1]):8.2f}   ")
        
    return w_in, b_in, J_history, w_history

In [76]:
np.random.seed(1)
initial_w = 0.01 * (np.random.rand(2) - 0.5)
initial_b = 10

iterations = 1000
alpha = 0.001

w,b, J_history,_ = gradient_descent(X_train ,y_train, initial_w, initial_b, 
                                   compute_cost, compute_gradient, alpha, iterations, 0)

Iteration    0: Cost     6.71
Iteration  100: Cost     0.01
Iteration  200: Cost     0.01
Iteration  300: Cost     0.01
Iteration  400: Cost     0.01
Iteration  500: Cost     0.01
Iteration  600: Cost     0.01
Iteration  700: Cost     0.01
Iteration  800: Cost     0.01
Iteration  900: Cost     0.01
Iteration  999: Cost     0.01

In [77]:
def predict(X, w, b): 
  
    m, n = X.shape   
    p = np.zeros(m)
   
    for i in range(m):   
        z_wb = 0
        for j in range(n): 
            z_wb += X[i, j] * w[j]
        
        z_wb += b
        
        f_wb = sigmoid(z_wb)

        p[i] = f_wb >= 0.5
    return p

In [78]:
# Tes model prediksi
np.random.seed(1)
tmp_w = np.random.randn(2)
tmp_b = 0.3    
tmp_X = np.array([[1.5, 36]]) - 0.5

tmp_p = predict(tmp_X, tmp_w, tmp_b)
print(f'Output of predict: shape {tmp_p.shape}, value {tmp_p}')

Output of predict: shape (1,), value [0.]

In [79]:
# Menghitung akurasi model prediksi
p = predict(X_train, w,b)
print('Train Accuracy: %f'%(np.mean(p == y_train) * 100))

Train Accuracy: 99.718310

In [80]:
import pickle

with open("predict.pkl", "wb") as file:
  pickle.dump(predict, file)